# Virtual environment directory
venv/

# Environment variable file
.env

# Dependencies file (optional)
# If you want to ignore it, keep the line below uncommented. Otherwise, comment or remove it.
requirements.txt