<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Plan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    
</head>
<body class="text-center bg-dark text-light">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <a href="{{ url_for('homepage') }}" style="text-decoration: none; font-size: 24px; color: whitesmoke;">Flex Flow</a>
                <nav class="nav nav-masthead justify-content-center">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('register') }}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQ</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <h1 class="text-center">Workout Plan</h1>

        <!-- Workout Program Section -->
        <div class="container-fluid mt-5">
            <div class="container">
                {% if workout_cards %}
                    {% for card in workout_cards %}
                        <div class="card mt-3" style="color:black;">
                            <div class="card-body">
                                <p class="card-text" style="color: black;">{{ card | safe }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No workout details available.</p> <!-- Handle case where workouts are empty -->
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
